@page
@model RegisterModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<AiWeb3.Components.Pages.HomeText> _localizer


@{
    ViewData["Title"] = "Register";
}

<section class="hero-wrap py-5 min-vh-75 d-flex align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="hero-panel rounded-4 py-4 p-lg-5 shadow-lg">

                    <h1 class="text-center">@_localizer["Register"]</h1>
                    
                 
                        
                            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="vstack gap-2">
                            <h2 class="text-center">@_localizer["CreateANewAccount"]</h2>
                                <hr />
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email">Email</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.Password">@_localizer["Password"]</label>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                                    <label asp-for="Input.ConfirmPassword">@_localizer["ConfirmPassword"]</label>
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@_localizer["Register"]</button>
                            </form>
                       
                      
                  
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    
}
